<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>demo1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ErrorHandler1</servlet-name>
    <servlet-class>com.util.test.ErrorHandler1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler1</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/demo1/ErrorHandler1</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ErrorHandler1</location>
  </error-page>
  <filter>
    <filter-name>Filter</filter-name>
    <filter-class>com.filter.test.Filter</filter-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>史嘉帅</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Filter2</filter-name>
    <filter-class>com.filter.test.Filter2</filter-class>
    <init-param>
      <param-name>user</param-name>
      <param-value>测试用户</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Filter2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
</web-app>